<div>
    <h2 id="page-heading">
        <span jhiTranslate="xauthApp.department.home.title">Departments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-department" [routerLink]="['/department/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="xauthApp.department.home.createLabel">
            Create new Department
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="departments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="xauthApp.department.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="xauthApp.department.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="seq"><span jhiTranslate="xauthApp.department.seq">Seq</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="leaf"><span jhiTranslate="xauthApp.department.leaf">Leaf</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span jhiTranslate="xauthApp.department.remark">Remark</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="extMap"><span jhiTranslate="xauthApp.department.extMap">Ext Map</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="workspaceId"><span jhiTranslate="xauthApp.department.workspace">Workspace</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parentId"><span jhiTranslate="xauthApp.department.parent">Parent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let department of departments ;trackBy: trackId">
                <td><a [routerLink]="['/department', department.id, 'view' ]">{{department.id}}</a></td>
                <td>{{department.name}}</td>
                <td>{{department.code}}</td>
                <td>{{department.seq}}</td>
                <td>{{department.leaf}}</td>
                <td>{{department.remark}}</td>
                <td>{{department.extMap}}</td>
                <td>
                    <div *ngIf="department.workspaceId">
                        <a [routerLink]="['../workspace', department.workspaceId , 'view' ]" >{{department.workspaceId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="department.parentId">
                        <a [routerLink]="['../department', department.parentId , 'view' ]" >{{department.parentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/department', department.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/department', department.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'department', { outlets: { popup: department.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="departments && departments.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
