<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="template">
            <h2><span jhiTranslate="xauthApp.template.detail.title">Template</span> {{template.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="xauthApp.template.spaceId">Space Id</span></dt>
                <dd>
                    <span>{{template.spaceId}}</span>
                </dd>
                <dt><span jhiTranslate="xauthApp.template.siteId">Site Id</span></dt>
                <dd>
                    <span>{{template.siteId}}</span>
                </dd>
                <dt><span jhiTranslate="xauthApp.template.clientType">Client Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'xauthApp.ClientType.' + template.clientType}}">{{template.clientType}}</span>
                </dd>
                <dt><span jhiTranslate="xauthApp.template.name">Name</span></dt>
                <dd>
                    <span>{{template.name}}</span>
                </dd>
                <dt><span jhiTranslate="xauthApp.template.desc">Desc</span></dt>
                <dd>
                    <span>{{template.desc}}</span>
                </dd>
                <dt><span jhiTranslate="xauthApp.template.extmap">Extmap</span></dt>
                <dd>
                    <span>{{template.extmap}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/template', template.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
