<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-site-heading" jhiTranslate="xauthApp.site.home.createOrEditLabel">Create or edit a Site</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!site.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="site.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="xauthApp.site.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="site.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="xauthApp.site.homeUrl" for="field_homeUrl">Home Url</label>
                    <input type="text" class="form-control" name="homeUrl" id="field_homeUrl"
                        [(ngModel)]="site.homeUrl" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="xauthApp.site.remark" for="field_remark">Remark</label>
                    <input type="text" class="form-control" name="remark" id="field_remark"
                        [(ngModel)]="site.remark" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="xauthApp.site.extmap" for="field_extmap">Extmap</label>
                    <input type="text" class="form-control" name="extmap" id="field_extmap"
                        [(ngModel)]="site.extmap" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
